{% extends 'base.html' %}
{% block title %}
Register now to create your to do list
{% endblock %}
{% block stylesheet %}

{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <!-- Material form login -->
            <div class="card">

              <h5 class="card-header info-color white-text text-center py-4">
                <strong>Register now</strong>
              </h5>

              <!--Card content-->
              <div class="card-body px-lg-5 pt-0">
                  {% if messages %}
                    {% for m in messages %}
                        <div class="{% if m.tags %}{{ m.tags }}{% endif %} alert-dismissible fade show" role="alert">
                        {{ m }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}

                {% endif %}
                <!-- Form -->
                <form action="" method="POST" style="color: #757575;">
                    {% csrf_token %}{% load crispy_forms_tags %}
                  <div class="row">
                        <div class="col-md-6">{{ form.first_name|as_crispy_field  }}</div>
                        <div class="col-md-6">{{ form.last_name|as_crispy_field  }}</div>
                  </div>
                    <div class="row">
                        <div class="col-md-6">{{ form.username|as_crispy_field  }}</div>
                        <div class="col-md-6">{{ form.email|as_crispy_field  }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">{{ form.password1|as_crispy_field  }}</div>
                        <div class="col-md-6">{{ form.password2|as_crispy_field  }}</div>
                    </div>
                  <!-- Sign in button -->
                  <div class="text-center">
                      <button class="btn btn-outline-info btn-rounded my-4 waves-effect z-depth-0">Register</button>
                      <button class="btn btn-secondary" type="reset">Reset</button>
                  </div>
<!-- Register -->
                  <p>Already a member?
                    <a href="{% url 'todo:login' %}">Login</a>
                  </p>
                </form>
                <!-- Form -->

              </div>

            </div>
            <!-- Material form login -->
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}
{% block script %}

{% endblock %}